* {
    font-family: 'Kalam', cursive;
}
.row {
    width: 100%;
}

@media (min-width:1199px),
(max-width:1200px) {
    .col-xl-12 {
        background-color: gray;
        color: black;
        margin: 10px;
        padding: 10px;
    }

    .col-xl-12 {
        width: 100%;
    }
}

@media (max-width:768px) and (min-width:500px) {
    .container-fluid #row1 {
        margin-top: 150px;
    }

    .container-fluid section {
        width: 80%;
        margin-left: 60px;
    }

    .container-fluid section p {
        text-overflow: ellipsis;
    }
}

#header-nav {
    background-color: gray;
    border-radius: 0;
    border: 2px solid black;
    height: 80px;
}

.navbar-brand h1 {
    color: black;
    margin: 10px;
}

#collapsable-nav {
    margin-top: 28px;
}

#nav-list li {
    color: black;
    border: 2px solid black;
    margin: 1px;
}

#nav-list a:hover {
    background-color: gray;
    color: black;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
    border: 2px solid black;
}

.navbar-header button.navbar-toggle {
    margin-top: 20px;
}